# bitwebd RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.bitweb
host=127.0.0.1

#mainnet default
port=26332

#testnet default
#port=18332

#regtest default
#port=18443

#signet default
#port=38332

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=feaed5ca
genesis=111692c1b9b390c407ab74d7f924d4fa0f7589974ab61af96392feca11f209e6
input=/home/example/.bitweb/blocks

# testnet
#netmagic=1bcc0805
#genesis=d57b558193dd042caa90f3b3b06626cecd47fd0d09ecb7e355ae21f8f64b47b1
#input=/home/example/.bitweb/testnet3/blocks

# regtest
#netmagic=eab1a5de
#genesis=fff478736711da54031b170a3a95739bb06bd0f66518eb82876d1a4b39a261b6
#input=/home/example/.bitweb/regtest/blocks

# signet
#netmagic=2dead0d9
#genesis=45d5638308d778ffaed43da140464c7e8c730ef1446d7ed6053ca211be70b35f
#input=/home/example/.bitweb/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
