# bitwebd RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.bitweb
host=127.0.0.1

#mainnet default
port=1605

#testnet default
#port=11605

#regtest default
#port=18443

#signet default
#port=31605

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=caaed9fe
genesis=00043e9c6bc54d9bd266c3767a83a7b9da435dd7f84e485a2bf2a869be62f1f3
input=/home/example/.bitweb/blocks

# testnet
#netmagic=adbedcfe
#genesis=00002a542f15e4f95e6256e5fc37532ad965e5874b4f5c4aaab75c792f184f63
#input=/home/example/.bitweb/testnet3/blocks

# regtest
#netmagic=fabfb5da
#genesis=327f1b1d976d222269e6b7486c8ffc040e9019fd5d75d481740ecb777c1d7866
#input=/home/example/.bitweb/regtest/blocks

# signet
#netmagic=0a03cf40
#genesis=00002a542f15e4f95e6256e5fc37532ad965e5874b4f5c4aaab75c792f184f63
#input=/home/example/.bitweb/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
